# List of valid commands

[regex]
help = help
\? = help
say = say
s = say
alias = alias
catfact = catfact
catfacts = catfact
roll = dice
dice = dice
d = dice

[help]
help = Get help on a topic. `{} [topic]`
say = Makes DevotedBot say something in global chat. `{} [message]`
alias = Get aliases of commands. `{} [command]`
catfact = Get a random cat fact. `{}`
dice = Roll a dice, D&D style. https://pypi.python.org/pypi/dice for syntax. `{} [dicestring]`